:root {
  color: #493d9e;
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsMedium;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.nav-container {
  background-color: transparent;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: -15px !important;
  .logo {
    width: 120px;
  }
}
.navigation-list-items ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    list-style-type: none;
    font-family: poppinsSemiBold;
    text-transform: uppercase;
    font-size: 13px;
  }
}
.nav-right-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
.bar-cont {
  position: relative;
}
.bar-counter {
  background-color: #493d9e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  font-size: 10px;
  font-family: poppinsMedium;
  position: absolute;
  right: -4px;
  top: 0;
}
.nav-sm-cont {
  display: none;
}
.nav-sm-container {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-container {
    display: none;
  }
  .nav-sm-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo-sm {
    width: 80px;
  }
  .nav-right-content {
    color: white !important;
  }
  .hamburger {
    color: white;
    font-size: 20px;
  }
  .background-overflow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
    transition: background-color 0.3s ease;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .nav-sm-container {
    display: block;
    width: 0;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10000000;
    transition: all 300ms ease;
    left: 0;
  }
  .nav-sm-container.open {
    width: 300px;
  }
  .menu-head {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: poppinsSemiBold;
    text-transform: uppercase;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid white;
  }
}
.Nav-link {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  li {
    width: 100%;
    list-style-type: none;
  }
  .Link {
    color: white;
    font-family: poppinsSemiBold;
    text-decoration: none;
    font-size: 14px;
  }
}
.Sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}
